.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #292b1836;
  color: rgb(104, 225, 74);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgb(104, 225, 74); /* Green bottom border */
  display: flex;
  align-items: center;
  overflow: hidden;
   backdrop-filter: blur(1.5px) saturate(200%); /* Strong blur for frosted glass effect */
  -webkit-backdrop-filter: blur(10px) saturate(150%); /* Safari support */
}

.marquee {
  display: flex;
  width: 200%; /* Ensure enough space for seamless scrolling */
  overflow: hidden;
  position: relative;
}

.marquee span {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  padding-top: 6px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
